{
    "collections": [],
    "configServerReplica": "{{ sharding_configServerReplica }}",
    "draining": [],
    "managedSharding": {{ sharding_managedSharding | lower}},
    "name": "{{ sharding_name }}",
    "shards": [],
    "tags": []
}